body {
    font-family: Arial, sans-serif;
    background:#0F172A;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #16a34a;
    font-size: 40px;
}

h2 {
    color: white;
}

h3 {
    color:#333;
    font-size: 25px;
}


p {
    color: #333;
}

input {
    padding: 10px;
    width: 250px;
    border: 2px solid #16a34a;
    border-radius: 8px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #16a34a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #15803d;
}

.card {
    margin-top: 20px;
    padding: 20px;
    background: white;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.error {
    color: red;
    margin-top: 20px;
}
